<h2>Search ({{ totalElements() }}): {{ searchQuery() }}</h2>

@if (loading()) {
<div class="text-center" style="position: absolute;">
    <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
    </div>
</div>
}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    @for (page of pages(); track page) {
        <li class="page-item"><a class="page-link" [class.active]="page === activePage()" role="button" (click)="searchProducts(page)">{{ page + 1 }}</a></li>
    }
  </ul>
</nav>

<div class="row">
    @for (item of productArray(); track item.id) {
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.price }}₺</p>
                    <a [routerLink]="['/products', item.id]" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
    }
</div>