<h2>All Products</h2>

@if (loading()) {
<div class="text-center" style="position: absolute;">
    <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
    </div>
</div>
}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    @for (page of pages(); track page) {
        <li class="page-item"><a class="page-link" [class.active]="page === activePage()" role="button" (click)="allProducts(page)">{{ page + 1 }}</a></li>
    }
  </ul>
</nav>

<div class="row">
@for (item of productArray(); track item.id) {
    <app-product-item [itemData]="item" class="col-sm-4 mb-3"></app-product-item>
}
</div>